{% extends "webApp/base.html" %} 
{% load static %}

{% block content %}

    <div class="row no-gutters">
        <div class="tab_section col-sm-12 col-md-12 col-lg-12 col-xl-12 nopadding">
            
            <div class="tab_buttons">
                <button class="tablink active_tab" onclick="openTab(event,'users')">Users</button>
                <button class="tablink" onclick="openTab(event,'markets')">Markets</button>
            </div>

            <hr>
            
            <div class="tab_content">
                <div id="users" class="tab">
                    <div class="row d-flex justify-content-center" id="card_section">
                        <!-- User profiles imported in JS go here -->
                    </div>
                </div>
            
                <div id="markets" class="tab" style="display:none">
                    <div id="market_section">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Current Price</th>
                                    <th>Market Cap</th>
                                    <th>Price Change (24hr)</th>
                                </tr>
                            </thead>
                            <tbody id="table_body">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock content %}