:root {
    --black:#0000;
    --white:#FFFF;
    --grey:#222222;
    --green:#77D59D;
    --red: #E9565C;
    --purple: #8646B0;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    overflow-x: hidden;
}


/* Main Body */

#main_content{
    margin: 40px 40px;
}

/* Tab container */

.tab_section{
    background-color: var(--grey);
    border-radius: 12.5px;
}

.tab_buttons{
    margin-top: 20px;
}

.tablink{
    background-color: var(--grey);
    border: none;
    text-decoration: none;
    color: var(--white);
}

.active_tab{
    background-color: var(--green);
}

hr {
    border-top: 2px solid var(--green);
}

.tab_content{
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Users tab */

.card-container {
	background-color: #2D2C2B;
	border-radius: 12.5px;
    border: 2px solid var(--purple);
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: white;
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
	text-align: center;
    margin: 20px 20px;
}

.card-container .round {
	/* border: 1px solid var(--red); */
	border-radius: 50%;
	padding: 7px;
    margin-bottom: 15px;
}

.card-container img{
    height: 200px;
    width: 200px;
}

.information {
	background-color: var(--grey);
	text-align: left;
	padding: 15px;
	margin-top: 30px;
    margin-bottom: 10px;
    border: 2px solid var(--purple);
}

.information h6{
    margin-bottom: 20px;
}

.information ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.information ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}

/* Markets Tab */

table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

#refresh_btn{
    background-color: var(--grey);
    border: 1px solid var(--grey);
    text-decoration: none;
    margin-bottom: 20px;
}

thead{
    border: 1px solid var(--purple);
    border-radius: 12.5px;
    margin-bottom: 10px;
}

th, td {
    text-align: left;
    padding: 10px;
}

tr:nth-child(even){
    background-color: black;
}

.coin_image{
    height: 20px;
}

.odd {
    background-color: var(--black);
}

.even {
    background-color: var(--red);
}

.red{
    color: var(--red);
}

.green{
    color: var(--green);
}

/* Footer */

footer{
    position:relative;
    bottom:0;
    width:100%;
    height:60px;
    margin-top: 40px;
}